@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply bg-black text-primary;
    background-image: url('/images/ui/background-stars.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

@layer utilities {
  .glow-border {
    box-shadow: 0 0 8px rgba(247, 255, 184, 0.6);
  }
}